body{
    background-color: rgb(42, 42, 42);
    font-family: sans-serif;
}
h1,h2{
    color: white;
}
.App{
background-color: rgb(41, 41, 41);
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
}
.app-cover{
    background-color: rgb(187, 0, 255);
    text-align: center;
    padding: 20px;
    min-height: 500px;
}
.input input{
    width: 240px;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}
button{
    height: 54px;
    width: 50px;
    border-radius: 12px;
    border: 1px solid rgb(240, 240, 240);
}
button:hover{
    background-color: rgb(216, 212, 255);
}

.todos{
    width: 300px;
    height: 50px;
    background-image: linear-gradient(rgb(243, 133, 226),  rgb(117, 15, 154));
    border-radius: 10px;
    border: none;
    margin-top:10px ;
    color: white;
    font-size: large;
    padding-left:10px;
}
.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
}
